.dispadd {
  display: inline-flex;
}
.addbtn {
  margin-top: 30px;
  margin-left: 40px;
  background: #ff4262;
  border: 1px solid #ff4262;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.addbtn:hover,
.addbtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4262;
}

.addbtn:active {
  opacity: 0.5;
}

.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  width: 140px;
  float: left;
  min-width: 100px;
  margin: 20px 190px 20px 5px;
  border-color: #ff4262;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}

.selectdiv:after {
  content: "<>";
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/

  top: 18px;
  padding: 0 0 2px;
  border-bottom: 1px solid rgb(235, 205, 205);
  /*left line */

  position: absolute;
  pointer-events: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */

  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #faf0f3;
  background-image: none;
  border: 1px solid #f5c4cc;
  -ms-word-break: normal;
  word-break: normal;
}
